<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebRoomsServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WebRoomsServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.web-rooms.co.nz:8181/rhswebrooms/webroomsservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebRoomsServiceSoap"
                contract="Comms.WebRoomsServiceSoap" name="WebRoomsServiceSoap" />
            <endpoint address="http://ws.web-rooms.co.nz:8181/rhswebrooms/webroomsservice.asmx"
                binding="customBinding" bindingConfiguration="WebRoomsServiceSoap12"
                contract="Comms.WebRoomsServiceSoap" name="WebRoomsServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>